html, body, section {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(37, 37, 37);
    color: rgb(155, 155, 155);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

div.header {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

div.header_datetime, div.header_timediff {
    display: block;
    margin-bottom: 5px;
}

h1.header_sitetitle {
    display: block;
    margin-top: 5px;
    font-size: 50px;
}

#header_time {
    margin-right: 15px;
}

#header_date {
    margin-left: 15px;
}

section {
    display: flex;
    flex-direction: column;
}

div.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin: 10px auto 0px;
    width: calc(100% - 10px);
}

div.footer {
    text-align: center;
    margin: 10px 0;
}

div.main_sidebar {
    flex-basis: 250px;
    border-right: 3px solid rgb(155, 155, 155);
    padding-top: 20px;
}

div.main_content {
    margin: 0px 8px;
    flex-grow: 1;
    max-width: calc(100% - 260px);
}


a img {
    margin: 5px;
}

ul.header_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 3px solid rgb(155, 155, 155);
    border-bottom: 3px solid rgb(155, 155, 155);
    width: 800px;
    padding: 4px;
    display: block;
    margin: 10px auto 0px;
}

li.header_navbar_item {
    display: inline;
    margin: 2px 10px;
}

li.header_navbar_item a {
    color: rgb(155, 155, 155);
    font-weight: bold;
}

div.main_content p, div.main_content h2 {
    margin: 10px 0px;
}

form.main_sidebar_form {
    width: calc(100% - 20px);
}

label.main_sidebar_label {
    font-weight: bold;
}

input {
    padding: 0;
}

input.main_sidebar_input_text {
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    display: block;
    background-color: rgb(98, 98, 98);
    color: rgb(229, 229, 229);
    border-top: 3px solid rgb(80, 80, 80);
    border-left: 3px solid rgb(80, 80, 80);
    border-bottom: 2px solid rgb(185, 185, 185);
    border-right: 2px solid rgb(185, 185, 185);
}

input[type="submit"].main_sidebar_submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 35px;
    background-color: rgb(74, 74, 74);
    color: rgb(203, 203, 203);
    border-top: 2px solid rgb(155, 155, 155);
    border-left: 2px solid rgb(155, 155, 155);
    border-bottom: 3px solid rgb(62, 62, 62);
    border-right: 3px solid rgb(62, 62, 62);
}

input[type="submit"].main_sidebar_submit:hover {
    background-color: rgb(133, 133, 133);
    border-top: 2px solid rgb(191, 191, 191);
    border-left: 2px solid rgb(191, 191, 191);
    border-bottom: 3px solid rgb(104, 104, 104);
    border-right: 3px solid rgb(104, 104, 104);
}

input[type="submit"].main_sidebar_submit:active {
    background-color: rgb(133, 133, 133);
    border-top: 2px solid rgb(104, 104, 104);
    border-left: 2px solid rgb(104, 104, 104);
    border-bottom: 3px solid rgb(191, 191, 191);
    border-right: 3px solid rgb(191, 191, 191);
}
