html, body, section {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(3, 191, 191);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

div.header {
    text-align: center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

div.header_datetime, div.header_timediff {
    display: block;
    margin-bottom: 5px;
}

h1.header_sitetitle {
    display: block;
    margin-top: 5px;
    font-size: 50px;
}

#header_time {
    margin-right: 15px;
}

#header_date {
    margin-left: 15px;
}
